@model IEnumerable<Exernet.Models.Image>

@foreach (var im in @Model)
{
    <div class="col-md-4">
        <div data-toggle="modal" data-target="#modalImage_@im.Id">
            <img src="@im.ImageURL" class="img-thumbnail" />
        </div>
    </div>
    <div class="modal fade" id="modalImage_@im.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Image from task "@im.Task.Title"</h4>
                </div>
                <div class="modal-body">
                    <form class="form-group">
                        <fieldset>
                            <div class="col-md-12">
                                <center>
                                    <img src="@im.ImageURL" class="img-thumbnail" data-target="#modalImage_@im.Id" />
                                </center>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
