@model List<Exernet.Models.ExernetTask>

@{
    ViewBag.Title = "FullTextSearching";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
        <h2>Search Results for @ViewBag.SearchText</h2>
        @{Html.RenderPartial("/Views/Task/_ShowTaskOnly.cshtml", Model);}
</div>