@model Exernet.Models.Solution

@if (!Model.Correct)
{
    <div class="alert alert-info">
        @Html.Action("CheckSolve", "Task", new { id = Model.Task.Id })
        Sorry! You solution is wrong.
    </div>
}
else
{
    <div class="alert alert-success">
  Well done! You have solved this task.
</div>
}

