
@{
    ViewBag.Title = "Markdown";
}
@Scripts.Render("~/bundles/markdownjs")
@Styles.Render("~/Content/markdown")


<h2>Markdown</h2>


<form>
    <input name="title" type="text" placeholder="Title?" />
    <textarea data-="500" name="content" data-provide="markdown" rows="10"></textarea>
    
    <label class="checkbox">
        <input name="publish" type="checkbox"> Publish
    </label>
    <hr />
    <button type="submit" class="btn">Submit</button>
</form> 



@*@Scripts.Render("~/bundles/jquery")*@
@*@Scripts.Render("~/bundles/bootstrap")*@
@*@RenderSection("scripts", required: false)*@